.order-summary-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  border: 1px solid black;
  font-family: "Red Hat Display";
  border-radius: 20px;
  &__image {
    margin-top: 0;
    border-radius: 20px 20px 0 0;
  }
  &__heading {
    font-size: 30px;
    padding-top: 20px;
  }
  &__text {
    color: black;
    text-align: center;
    padding: 0px 60px 40px 60px;
  }
  &__plan-selector {
    margin-top: 0;
    width: 360px;
    padding: 0 20px 20px 20px;
    display: flex;
    background-color: hsl(225, 100%, 94%);
    align-items: center;
    border-radius: 20px;
  }
  &__actual-plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    position: relative;
    left: 10px;
    top: -4px;
  }
  &__change-button {
    position: relative;
    left: 50px;
  }
  &__annual-plan-text {
    height: 15px;

    &--title {
      font-weight: bolder;
      font-size: large;
    }
  }
  &__container {
    margin-top: 0;
    width: 100%;
    margin-left: 100px;
  }

  &__button {
    border-style: none;
    width: 75%;
    height: 50px;
    background-color: hsl(245, 75%, 52%);
    font-family: "Red Hat Display";
    color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    margin: 20px;
    &--small {
      margin-top: -10px;
      color: black;
      background-color: white;
    }
  }
}
